In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv("1_db_email_and_phone.csv", low_memory=False)

In [3]:
df2 = pd.read_csv("2file2_ONLY_personal_emails.csv")

In [6]:
df1

,name,email,phone,linkedinurl
0,heynel axelevi,['heynel_axelevi@yahoo.com'],['13462128871'],https://www.linkedin.com/in/heynel-axelevi-9a4...
1,arran gillies,"['narra1985@hotmail.com', 'arran.gillies@silix...",['447447338812'],https://www.linkedin.com/in/arran-gillies-8917...
2,don gennrich,"['dongennrich@gmail.com', 'dgennrich@packaging...","['7154532131', '17156121991']",https://www.linkedin.com/in/don-gennrich-8712854
3,kay patel,"['patelk@parliament.uk', 'kay_patel@hotmail.com']","['3106716017', '9038779227']",https://www.linkedin.com/in/kay-patel-88b1902
4,brittany couture,['run5soccer@hotmail.com'],['18054529478'],https://www.linkedin.com/in/brittany-couture-b...
...,...,...,...,...
16250747,caroline alcock,"['carolinealcock@yahoo.co.uk', 'calcock@ksmmed...",['16302058157'],https://www.linkedin.com/in/caroline-alcock-97...
16250748,jeff levy,['jeff@bravomessenger.com'],['2017977070'],https://www.linkedin.com/in/bravomessenger
16250749,naomi kinsey,"['naomi.kinsey9410@gmail.com', 'naomikinsey941...",['1-801-707-4585'],https://www.linkedin.com/in/naomi-kinsey-8b71a145
16250750,darlene treston,['dtreston@trestonlaw.com'],['15165927760'],https://www.linkedin.com/in/darlene-treston-4a...
16250751,patricia eddy,"['patriciaanneddy@yahoo.com', 'celestouille@ao...",['1-614-777-5052'],https://www.linkedin.com/in/patricia-eddy-0859...

In [7]:
df2

,name,email,phone_numbers,linkedinurl
0,leanne crockett,'llbjork@yahoo.com',[],linkedin.com/in/leanne-crockett-52327622
1,linda mcclanahan,'lindamc29@hotmail.com',[],linkedin.com/in/linda-mcclanahan-0b090b14
2,michael piazza,'piazzadds@gmail.com',[],linkedin.com/in/michael-piazza-4b570328
3,lily graves,'lilygraves21@yahoo.com',[],linkedin.com/in/lily-graves-32566b9
4,travis dahl,'travdahl1@gmail.com',[],linkedin.com/in/travdahl1
...,...,...,...,...
643324,randy krueger,'rckrueger@bellsouth.net',[],linkedin.com/in/randy-krueger-64b4765
643325,surya pappu,'surya_pappu@yahoo.com',[],linkedin.com/in/surya-pappu-0a94a8
643326,melody haithcock,'dynamicmelody@lycos.com',[],linkedin.com/in/melody-haithcock-4756a215
643327,alicia aquino,'sisha_1@hotmail.com',[],linkedin.com/in/alicia-aquino-461b0147
643328,marianne oconnor,'djomro@hotmail.com',[],linkedin.com/in/marianne-oconnor-0b407514

In [11]:
df2['linkedinurl'].isin(df1['linkedinurl'])

0         False
1         False
2         False
3         False
4         False
          ...
643324    False
643325    False
643326    False
643327    False
643328    False
Name: linkedinurl, Length: 643329, dtype: bool

In [12]:
common_values_1 = set(df1['linkedinurl'].values).intersection(set(df2['linkedinurl'].values))

In [13]:
common_values_1

set()