In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv("1_db_email_and_phone.csv", low_memory=False)

In [3]:
df2 = pd.read_csv("3file3_ONLY_phone.csv")

In [4]:
df2['linkedinurl'].isin(df1['linkedinurl'])

0          False
1          False
2          False
3          False
4          False
           ...
1048570    False
1048571    False
1048572    False
1048573    False
1048574    False
Name: linkedinurl, Length: 1048575, dtype: bool

In [5]:
df1

,name,email,phone,linkedinurl
0,heynel axelevi,['heynel_axelevi@yahoo.com'],['13462128871'],https://www.linkedin.com/in/heynel-axelevi-9a4...
1,arran gillies,"['narra1985@hotmail.com', 'arran.gillies@silix...",['447447338812'],https://www.linkedin.com/in/arran-gillies-8917...
2,don gennrich,"['dongennrich@gmail.com', 'dgennrich@packaging...","['7154532131', '17156121991']",https://www.linkedin.com/in/don-gennrich-8712854
3,kay patel,"['patelk@parliament.uk', 'kay_patel@hotmail.com']","['3106716017', '9038779227']",https://www.linkedin.com/in/kay-patel-88b1902
4,brittany couture,['run5soccer@hotmail.com'],['18054529478'],https://www.linkedin.com/in/brittany-couture-b...
...,...,...,...,...
16250747,caroline alcock,"['carolinealcock@yahoo.co.uk', 'calcock@ksmmed...",['16302058157'],https://www.linkedin.com/in/caroline-alcock-97...
16250748,jeff levy,['jeff@bravomessenger.com'],['2017977070'],https://www.linkedin.com/in/bravomessenger
16250749,naomi kinsey,"['naomi.kinsey9410@gmail.com', 'naomikinsey941...",['1-801-707-4585'],https://www.linkedin.com/in/naomi-kinsey-8b71a145
16250750,darlene treston,['dtreston@trestonlaw.com'],['15165927760'],https://www.linkedin.com/in/darlene-treston-4a...
16250751,patricia eddy,"['patriciaanneddy@yahoo.com', 'celestouille@ao...",['1-614-777-5052'],https://www.linkedin.com/in/patricia-eddy-0859...

In [6]:
df2

,name,email,phone,linkedinurl
0,charnie guttmann,NaN,"['+18453710767', '+18453717107']",linkedin.com/in/charnie-guttmann-6301b313
1,colleen pinkham,NaN,"['+15867254531', '+12143124493']",linkedin.com/in/colleen-pinkham-542b1941
2,vicki finley,NaN,['+18014864611'],linkedin.com/in/vicki-finley-8706079
3,michael brinton,NaN,['+14129778620'],linkedin.com/in/michael-brinton-14bb4525
4,marsha auguste,NaN,['+12037339156'],linkedin.com/in/marsha-auguste-5057246
...,...,...,...,...
1048570,elena driskill,NaN,['+16613737349'],linkedin.com/in/elena-driskill-2a552112
1048571,betty inouye,NaN,['+13038291172'],linkedin.com/in/betty-inouye-12018112
1048572,steve willard,NaN,['+13369987712'],linkedin.com/in/steve-willard-b525ab104
1048573,myles gartland,NaN,"['+19133961330', '+18165013278', '+19137322349']",linkedin.com/in/mpgartland
1048574,jackie rousseau,NaN,['+12624028582'],linkedin.com/in/jackie-rousseau-b4540126